<h1> <%= @user.name %> </h1>

<br> 
<%# <%= link_to "Current Company", company_path(current_user.id)%> <br> 

-Current company: (link to show page of company) <br>
-Edit company (min of 1)<br><br><br>

-Skills (min of 3) <ul><%=@user.skills.name%><ul><br>

-Add skill (max of 5) (if you are current_user, drop down)
-Edit Skill 
-Delete skill

<br><br>

-Picture (find how to do this) <br> <br>

-Email: <%= @user.email%> <br><br>

-Create a public status/post: (link to create page)

<br><br><br>
link to - profile (Luis)
    -info 
    -user specific posts (luis)
    -link to company show page (apple)

link to job listing index
    job show page
        jobs listings for apple 
