<h1> Homepage </h1>

<% if current_user %>
 <%= link_to "Log Out", destroy_path, method: "DELETE" %> <br><br>
<div> Current Email: <br>
<%=current_user.email%>
</div>

<%= link_to "Profile", user_path(current_user.id)%> <br><br>

<p> All Listed Posts of all users (6 users, 1 post each, 6 posts) </p>

<p> Job Listings (Link) </p>

<% else %>
 <%= link_to "Log In", login_path%> <br><br>
<%end %>



 
